body {
  padding: 0 5%;
}



h1 {
  font-size: 46px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  width: 45%;
}

.group {
  border: 1px solid rgba(0, 0, 0, 0.479);
  border-radius: 5px;
  margin: 10px 10px;  
}

.group > .header {
  font-size: x-large;
  background-color: rgb(43, 137, 226);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  padding: 10px;
  font-weight: bold;
}

.command-area {
  display: flex;
  flex-wrap: wrap;
}

.command {
  border-bottom: 1px solid;
  border-color: lightgrey;
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  padding: 10px;
}

.command > .description {
  font-size: large;
  font-weight: initial;
}

.command:hover {
  box-shadow: 0px 0px 5px 0px black;
  cursor: default;
}

ul {
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  list-style-type: square;
}

.explanation {
  color: darkgray;
  font-weight: lighter;
}

.param {
  font-weight: bold;
  color: crimson;
}

.value {
  color: mediumseagreen;
  font-style: italic;
}

.optional {
  color: darkgray;
}

.button{
  background-color: rgb(34, 143, 34);
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  display: inline;
  float: right;
}

.button:hover {
  background-color: rgb(29, 124, 29);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.308);
}

.img-container {
  width: 100%;
  text-align: center;
}

img {
  width: 100%;
}



@media screen and (max-width: 1280px) {
  body {
    padding: 0 2%;
  }
  .container {
    width: 49%;
  }
  img {
    margin-top: 100px;
  }
}
